body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  background: linear-gradient(129deg, #fbf8f9, #feeff2);
  border-radius: 30px;
  box-shadow: 2px 2px 5px #f0dfe3;
  margin: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

#menu,
#login {
  width: 100px;
  height: 2px;
  background-color: #E2748C;
  border-radius: 40px;
  box-shadow: 9px 8px black;
  padding: 20px 30px;
  margin: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

#menutxt,
#logintxt {
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
}

#logo {
  width: 150px;
  height: 150px;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
  background-color: #E2748C;
  border-radius: 40px;
  box-shadow: 9px 8px black;
  margin: 30px;

}


.card-link {
  text-decoration: none;
  color: inherit;
}


.card {

  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #E2748C;
  width: 410px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;




}


.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}


.card img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  margin: 15px 0;
}