.base {
    width: 770px;
    height: 600px;
    background: linear-gradient(145deg, #f3c4ce, #E2748C, #723948);
    border-radius: 40px;
    box-shadow: 9px 8px black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

.base #logintxt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 7%;
}

#user {
    display: block;
    color: black;
    float: left;
    position: absolute;
    top: 23%;
    left: 6%;
    text-align: left;
}

#user::placeholder {
    background-color: #723948;
    border: 2px solid black;
    border-radius: 20%;
    color: black;

}

.user_input {
    background: #EFB1BE;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: black;
    border-radius: 40px;
    height: 24px;
    width: 280px;
    display: inline-flex;

}

.email_pws {
    background: #EFB1BE;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: black;
    border-radius: 40px;
    height: 24px;
    width: 280px;
    display: inline-flex;
}

.forgot_pws {
    color: #F2BFCA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.sign_in {
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;


}

#button {
    width: 280px;
    height: 50px;
    background-color: #E2748C;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 9px 8px black;
    margin: 30px;
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    color: white;
    cursor: pointer;
}

#acc_created {
    width: auto;
    height: auto;
    border-radius: 40px;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 45px rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

#acc_created_txt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: #2a0912;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 10%;
}

#image {
    width: 790px;
    height: 530px;
    position: absolute;
    top: 3%;
    left: 11%;
    z-index: 2;
}
