body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


.menu-btn {
    font-size: 24px;
    padding: 10px 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1001;
    cursor: pointer;
    width: 100px;
    height: 2px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px black;
    padding: 20px 30px;
    margin: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}


.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    background-color: #E2748C;
    padding-top: 130px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}


.side-menu.active {
    transform: translateX(0);
}


.side-menu a {
    display: block;
    padding: 15px 20px;
    color: #3a0b18;
    text-decoration: none;

}

.side-menu a:hover {
    background: linear-gradient(129deg, #fbf8f9, #feeff2);

}


/* .content {
    padding: 50px 20px;
} */

section {
    height: 100vh;
}