.header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 160px;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(129deg, #fbf8f9, #feeff2);
    border-radius: 30px;
    box-shadow: 2px 2px 5px #f0dfe3;
    margin: 20px;
    position: sticky;
}

#menu {
    width: 100px;
    height: 2px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px black;
    padding: 20px 30px;
    margin: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#menutxt {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

#logo {
    width: 150px;
    height: 150px;
}

#login {
    width: 100px;
    height: 2px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px black;
    padding: 20px 30px;
    margin: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#logintxt {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #E2748C;
    text-shadow: 1px 1px 1px black;
}


.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#searchbar {
    width: 600px;
    height: 5px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px 10px black;
    padding: 25px 35px;
    margin: 40px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}


#searchtext {
    background: none;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    margin-left: 10px;
    width: 100%;
}


#searchtext::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}


#searchbtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


#searchicon {
    width: 40px;
    height: 40px;
}

#poster {
    width: 1030px;
    height: 600px;
    margin: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.mid {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 160px;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(129deg, #fbf8f9, #feeff2);
    border-radius: 30px;
    box-shadow: 2px 2px 5px #f0dfe3;
    margin: 20px;
    position: sticky;
}

#iframe_login {
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us {
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(129deg, #fbf8f9, #feeff2);
    border-radius: 30px;
    box-shadow: 2px 2px 5px #f0dfe3;
    margin: 20px;
    margin-top: 20px;

}

#about_us {
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #E2748C;
    text-shadow: 1.2px 1px 1px black;
    margin: 30px;
}

#about_us_txt {
    text-align: left;
    margin: 20px;
    position: absolute;
    top: 193%;
    margin-right: 400px;
    margin-left: 240px;
    color: #723948;
}
