.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 160px;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(129deg, #fbf8f9, #feeff2);
    border-radius: 30px;
    box-shadow: 2px 2px 5px #f0dfe3;
    margin: 20px;
    position: relative;
}

#menu {
    width: 100px;
    height: 2px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px black;
    padding: 20px 30px;
    margin: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1001;
}

#menutxt {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

#logo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#login {
    width: 100px;
    height: 2px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px black;
    padding: 20px 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}




#logintxt {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #E2748C;
    text-shadow: 1px 1px 1px black;
}


.search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#searchbar {
    width: 600px;
    height: 5px;
    background-color: #E2748C;
    border-radius: 40px;
    box-shadow: 9px 8px 10px black;
    padding: 25px 35px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchtext {
    background: none;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    margin-left: 10px;
    width: 100%;
}


#searchtext::placeholder {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}


#searchbtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


#searchicon {
    width: 40px;
    height: 40px;
}

#suggestions {
    list-style: none;
    padding: 10px 35px;
    margin: 10px 0;
    margin-left: 430px;
    background-color: #E2748C;
    box-shadow: 9px 8px 10px black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    display: none;
    max-width: 600px;
}

#poster {
    width: 1030px;
    height: 600px;
    margin: 100px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.pic {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    position: relative;
    transition: 0.3s;
}

.card hover {
    transform: translateY(-5px);

}

.card img {
    margin-top: 40px;
    width: 410px;
    height: 400px;
    border-radius: 40px;
    cursor: pointer;
}

.card h3 {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    font-size: 32px;
    font-family: 'Times New Roman', serif;
    text-shadow: 2px 2px 5px black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.card:hover .overlay {
    opacity: 40%;
}

.about_us {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 300px;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(129deg, #fbf8f9, #feeff2);
    border-radius: 30px;
    box-shadow: 2px 2px 5px #f0dfe3;
    margin: 30px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 49%;

}

#about_us {
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #E2748C;
    text-shadow: 1.2px 1px 1px black;
    margin: 15px;
}

#about_us_txt {
    text-align: left;
    margin: 40px;
    position: absolute;
    top: 20%;
    margin-right: 400px;
    margin-left: 240px;
    color: #723948;
}

#map {
    width: 100%;
    height: 460px;
    scroll-behavior: smooth;
}

/* 
.drop_down {
    width: 110px;
    height: 2px;
    padding: 10px 20px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
} */
